/* CSS Document */

body {
	background-color:#EFEFEF;
	font-family:"Trebuchet MS", sans-serif;
	}
	
a {
	text-decoration: underline;
	color:#ff4900;
	}
	


a:visited {color:#009A9A;} 

a:hover {
	color:#A8732F;
	}

#main_container {
	width:600px;
	border: #000000 1px solid;
	margin: 0 auto;
	background-color:#FEFEFE;
	padding-right:5px;
	padding-left:5px;
	}
	
#header {
	height:30px;
	width:100%;
	
	background-repeat: no-repeat;
	}
	
h1 {
	size:30px;
	float:right;
	vertical-align:middle;
	margin: 10px 20px 0 0;
	font-family: Impact, Arial, Helvetica, sans-serif;
	}
	
h2 {
	padding-left: 5px;
	margin: 5px 0px 0px 0px;
	}
	
p {
	size: 10px;
	margin:0px;
	padding:10px;
	text-align:justify;
	}


#navigation {
	width:100%;
	border-top:  #000000 1px solid;
	border-bottom: #000000 1px solid;
	text-align:center;

	}
#navigation a {
	padding:3px;
	}
	
#content {
	width:100%;
	}
	
#footer {
	width:100%;
	border-top:  #000000 1px solid;
	text-align:center;
	font-size:9px;
	}
	


